<div id="masthead">
  <img src="/assets/img/web-portfolio.jpg">
</div>

<mat-card  class = "example-card" > 
  <div id="image-container">
  	<img  mat-card-image  class = "example-card-image" src = "/assets/img/hand-web.png" > 
  </div>
  <mat-card-content class="mat-card-content"> 
    <p>
      Hola, mi nombre es Emmanuel, soy desarrollador web, estoy fascinado por la programación, por el desarrollo web,
      la tecnología y todo en su órbita. 
    </p> 
  </mat-card-content > 
</mat-card >

<mat-card  class = "example-card" > 
  <div id="image-container">
  	<img  mat-card-image  class = "example-card-image" src = "/assets/img/study.png" > 
  </div>
  <mat-card-content class="mat-card-content"> 
    <p>
      Dedico la mayor parte de mi tiempo libre a aprender, armando proyectos que me ayudan a crecer como desarrollador, Este proyecto nace con la idea de obtener un portafolio web donde un usuario puede a través de un formulario ingresar un proyecto y almacenarlo en una base de datos, y consultar los proyectos a través de un listado que los devuelve al front-end; Además puede acceder a cada uno de sus proyectos guardados, modificarlos, o borrarlos.
      Por último y por sobre todo, esta pequeña aplicación nace con la idea de no parar de programar y seguir ejercitando.
    </p> 
  </mat-card-content > 
</mat-card >

<mat-card  class = "example-card" > 
  <div id="image-container">
  	<img  mat-card-image  class = "example-card-image" src = "/assets/img/phone.png" > 
  </div>
  <mat-card-content class="mat-card-content"> 
    <p>
      Si bien tengo claro que todavía tengo mucho camino por delante, y mucho por aprender, esto al contrario de desanimarme, me anima a seguir practicando, a seguir investigando y dedicarle horas al desarrollo.
      También sé que lo que se aprende trabajando es único, y por eso espero una oportunidad. Si pensas que me puedo 
      sumar no dudes en contactarme, a cambio ofrezco mi compromiso y dedicación total.<br>
      11-5617-8957

    </p> 
  </mat-card-content > 
</mat-card >

<div id="footer">
	<footer class="footer-bottom">
		emanuelgranara@hotmail.com<br>
		2020 &copy; Emmanuel Granara.
	</footer>
</div>


